body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #ff6347;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 300px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #ff6347;
}

.card p {
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff6347;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e5533d;
}


/* Spinner styles */
@keyframes spinner {
    to { transform: rotate(360deg); }
}

.spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #ff6347;
    animation: spinner 0.6s linear infinite;
}

.error {
    color: #ff6347;
    font-size: 1.2em;
    margin-top: 20px;
}

